.component {
  width: 95vw;
  max-height: 95vh;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  grid-gap: 1ch;
}
