.component {
  text-transform: capitalize;
  text-align: center;

  &:not(:global(.smaller)) {
    font-family: 'Press Start 2P';
  }
}

.caught {
  margin-inline-start: 0.5ch;

  circle {
    fill: red;
  }
}
