.component:not(.spotted):not(.caught) {
  img {
    filter: brightness(0);
  }
}

.caught {
  p {
    text-decoration: underline;
  }
}

.spotted {
  &:not(.caught) img {
    filter: grayscale(1);
  }
}

.inTeam {
  background-color: green;
}
