.container {
  display: grid;
  grid-template-rows: 'menu game';
  align-items: center;

  max-width: 60ch;
  margin-inline: auto;

  & > *:nth-child(2) {
    aspect-ratio: 4 / 3;

    border-style: double;
    border-width: 5px;
    border-radius: 6px;
    border-color: black;
  }
}
