@keyframes attack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

.image {
  margin-inline: auto;

  &:global(.attack_animation) {
    animation: linear 300ms attack;
  }
}

.name {
  margin-block-start: 0;
}

.level {
  text-align: center;
}

.level_up_button {
  margin-inline: 2ch;
  background-color: limegreen;
}

.attackBar {
  display: block;
  margin-inline: auto;
}
